{% extends "tours/base.html" %}

{% block content %}
  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'index' %}">{{ title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'departure' departures_2.msk %}">{{ departures.msk }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'departure' departures_2.spb %}">{{ departures.spb }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'departure' departures_2.nsk %}">{{ departures.nsk }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'departure' departures_2.ekb %}">{{ departures.ekb }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'departure' departures_2.kazan %}">{{ departures.kazan }}</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container mt-3">

    <!-- HERO -->
    {% for key, value in dict_central_image.items %}
    <section class="jumbotron text-center mt-4" style="background-image: linear-gradient(180deg, rgba(1,1,1,0.6), rgba(1,1,1,0.6)), url('{{ value.picture }}'); background-size: 100%; color:thistle">
      {% endfor %}
      <h1 class="display-4">Всякие туры</h1>
      <h1 class="lead">{{ subtitle }}</h1>
      <h4 class="mt-5 w-50 mx-auto">{{ description }}</h4>
    </section>

    <!-- CARDS -->
    <div class="row mt-5">
      {% for key, value in dict_tours.items %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ value.picture }}" alt="" />
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ value.title }}  {{ value.stars }}★</h2>
            <p class="card-text">{{ value.description|truncatechars:80 }}</p>
            <p class="h6 card-title">{{ value.date }}, {{ value.nights }} ночей, {{ value.price }} руб.</p>
            <a href="{% url 'tour' key %}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}